@import "bourbon/bourbon";
$visual-grid: false;
$gutter: em(47px);
@import "neat/neat";

@font-face {
  font-family: 'Nevis';
  src: url('../fonts/nevis.ttf')  format('truetype'), /* Safari, Android, iOS */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* Header */

.header-wrap {
    position:relative;
    background: #fff;
    width: 100%;
    height: 100px;
    border-top: 5px solid #03A9F4;
    z-index: 160;
    margin: 0 auto;
}

.header-container {
    width: 1080px;
    margin: 0 auto;
    padding-top:30px;
    position:relative;
    padding-left: 15px;
    background:#fff;
    height:100px;
}

.header-left {
    float: left;
    padding-top: 20px;
    display:inline-block;
}


.header-logo {
    width: auto;
    height: 30px;
    cursor: pointer;
}

/* Header Nav and Product Dropdown */

.header-nav p {
    /* float: right; */
    /* width: 74px; */
    text-transform: uppercase;
    font-size: 18px;
    font-weight:300;
}



.header-nav span {
    font-size: 24px;
    padding-right:5px;
}

.header-nav a {
    text-transform: uppercase;
    font-size: 18px;
    font-weight:300;
    color:#333;
    text-decoration: none;
}

.header-nav {
    padding-top:20px;
}

.header-nav ul {
    list-style: none;
    padding-left:0;
}

.header-nav li {
    display: inline-block;
    padding-right:30px;
}

.header-social {
    display: inline-block;
    width: 300px;
    float: right;
    text-align: right;
    position: absolute;
    right: 10px;
    vertical-align: top;
    margin-top: -25px;

    ul {
        list-style: none;
        padding-left: 0;
    }

    li {
        display: inline-block;
    }
}

.social-button {
    padding-right:15px;
    font-size:24px;
    color:#555;
    transition:250ms;
}

.social-heading {
    margin-right: 15px;
    font-size: 18px;
    font-weight: 300;
    color: #999;
}

.fa-twitter:hover {
    color:#00aced;
}

.fa-facebook:hover {
    color:#3b5998;
}

.fa-linkedin:hover {
    color: #007bb6;
}

.nav-dropdown-container {
    width:1080px;
    position:relative;
    margin:0 auto;
    z-index:50;
    height:0;
}

.nav-dropdown {
  width: 100%;
  background: #333;
  height: 50px;
  position: absolute;
  top: -50px;
  z-index: 150;
  padding-left: 15px;
  transition: 250ms;
}

.nav-dropdown span {
    padding-right:5px;
    color:#999;
}

.nav-dropdown ul {
    list-style:none;
    padding-left:0;
}

.nav-dropdown li {
    display:inline-block;
    font-weight: 300;
    padding:15px 15px 0 15px;
    color: #dfdfdf;
}

.open-product-nav {
    top:0px;
}

.dropdown-trigger {
    cursor: pointer;
}

/* Banner */

.banner-wrap {
    width: 100%;
    height:100%;
    background:#fff;
    position: relative;
    transition: 250ms;
}

.banner {
    width: 1080px;
    height:475px;
    margin: 0 auto;
    background: url('../images/placeholder3.jpg') center bottom;
    background-size: cover;
    transition:250ms;

}

.logo {
    width: 75px;
    display: inline-block;
    padding-top: 0px;
    margin-right:5px;
}


.banner-logo {
    width: 600px;
    display: inline-block;
    position: absolute;
    padding-left: 50px;
    padding-top: 345px;

    & ul {
        list-style: none;
        padding-left: 0;
    }

    & li {
        display: inline-block;
        vertical-align: top;
    }
}

.banner-heading {
    font-size: 48px;
    color: #f0f0f0;
    text-transform:uppercase;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    line-height:48px;
    text-shadow: 1px 1px 10px #000;
}

.banner-animation, 
.banner-pre-animation {
    display:inline-block;
    font-size: 18px;
    color: #f0f0f0;
    font-weight: 300;
    padding-right:5px;
    font-family: 'Lato', sans-serif;
    line-height:16px;
    text-transform: uppercase;
    text-shadow: 1px 1px 4px #000;
}

.banner-overlay-left {
    position: absolute;
    background: #f8f8f8;
    background-size: cover;
    width: 660px;
    height: 100%;
    left: 0;
    top: 0;
    padding-right:15px;
}

.banner-overlay-right {
    position: absolute;
    background:#f8f8f8;
    width: 400px;
    height: 100%;
    right: 0;
    top: 0;
}

/* Contact Slideout */

.contact-container {
    width: 1080px;
    margin: 0 auto;
    position: relative;
    display: block;
    padding-top: 25px;
}

.contact {
    width: 400px;
    margin: 0 auto;
    height: 100px;
    position: relative;
    background: transparent;
    display: inline;
    float: right;
    right: 25px;
    transition: 250ms;
}

.contact-expand-bio {
    width:500px;
    transition: 250ms;
}

.contact-slideout {
    width:200px;
    height:100px;
    position:relative;
    right:-200px;
    bottom: 0px;
    z-index: 50;
    transition: 250ms;
    font-size: 0;
    float:right;
    background:#333;
    display: inline-block;

}

.close-bio-shrink {
    width:50px;
}

.contact-slideout-expand {
    width:300px;
}

.open-slideout {
    right:0px;
    transition: 250ms;
}

.open-bio {
    width:300px;
    transition:250ms;
}


.close-slideout {
    position: relative;
    width: 200px;
    height: 100px;
    background: #B71C1C;
    padding: 30px 15px;
    right: 0;
    bottom: 0px;
    text-align:center;
    z-index: 100;
    float:right;


    p {
        color:#fff;
        font-size: 28px;
        font-weight: 300;
    }
}

.close-bio {
    position: relative;
    width: 100px;
    height: 100px;
    background: transparent;
    padding: 15px 15px;
    right: 0;
    bottom: 0px;
    text-align:center;
    z-index: 100;
    background:#000;
    float:right;


    p {
        color:#fff;
        font-size: 18px;
        font-weight: normal;
        z-index:100;
    }
}

.ed-bio, 
.davis-bio {
    width: 300px;
    height: 100px;
    background: #333;
    position: absolute;
    display: inline-block;
    transition: 250ms;
    vertical-align: bottom;
    float: right;
    font-size: 0;
    z-index: 95;

    ul {
        list-style: none;
    }

    li {
        display: inline-block;
        width:100px; 
        height: 100px;
        font-size: 30px;
        text-align: center;
        padding-top: 35px;
        color:#f0f0f0;
        border-right:1px solid #444;
        border-left:1px solid #222;
        text-shadow: 1px 1px 5px #000;
        vertical-align:top;
    }

}

.davis-bio li:hover .fa-linkedin, 
.ed-bio li:hover .fa-linkedin {
    color: #f0f0f0;
}

.davis-phone {
    display:block;
    color:#f0f0f0;
    font-size:10px;
    font-weight:300;
    padding-top:7px;
    transition:250ms;
}

.phone-jump {
    font-size:10px;
}

.contact-square {
    position: relative;
    width: 200px;
    height: 100px;
    background: #BF360C;
    padding: 38px 0px;
    right: 0;
    bottom: 0px;
    text-align:center;
    z-index: 100;
    float:right;
    transition: 250ms;
    cursor: pointer;

    p {
        color:#fff;
        font-size: 20px;
        font-weight: 300;
    }
}

.contact-square span {
    padding-right: 5px;
    font-size: 14px;
    vertical-align: top;
    padding-top: 6px;
}

.ed-exit-bio, 
.davis-exit-bio {
    position: relative;
    width: 200px;
    height: 100px;
    background: #BF360C;
    padding: 38px 0px;
    right: 0;
    bottom: 0px;
    text-align:center;
    z-index: 100;
    float:right;
    transition: 250ms;
    cursor: pointer;

    p {
        color:#fff;
        font-size: 20px;
        font-weight: 300;
    }
}

.ed-exit-bio span, 
.davis-exit-bio span {
    padding-right: 5px;
    font-size: 14px;
    vertical-align: top;
    padding-top: 6px;
}


.contact-list {
    position: absolute;
    z-index:95;
    bottom: 0;
    left: 0;
}

.contact-thumbnail {
    position:relative;
    display: inline-block;
    width: 100px; 
    height: 100px;
    padding: 0;
    z-index: 95;
    vertical-align: bottom;
    overflow: hidden;
}

.contact-thumbnail img {
    width: 100px;
    height: 100px;
}

.davis-thumbnail, 
.ed-thumbnail {
    background: rgba(0,0,0,.3);
      -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(#greyscale);
  filter: gray;
  text-align: center;
  transition: 250ms;
}

.davis-thumbnail:hover, 
.ed-thumbnail:hover {
  -webkit-filter: none;
  filter: none;
}
.davis-thumbnail {
    background: url('../images/davis-thumbnail.jpg');
    background-size: contain;
}

.davis-thumbnail-bio {
    background: url('../images/davis-thumbnail.jpg');
    background-size: contain;
    border-right: 1px solid #444;
}

.ed-thumbnail {
    background: url('../images/edward-thumbnail.jpg');
    background-size: contain;
}

.ed-thumbnail-bio {
    background: url('../images/edward-thumbnail.jpg');
    background-size: contain;

}

.ed-thumbnail-shift {
    position:absolute;
    margin-left:-100px;
    z-index: 100;
}

.thumbnail-name {
    z-index: 95;
    color: #fff;
    font-size: 10px;
    bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center;
    position: relative;
    bottom: 0;
    padding-top: 100px;
    transition: 250ms;
    width:80px;
    margin: 0 auto;
    text-shadow: 1px 1px 3px #000;
}

.ed-name {
    z-index:95;
}

.name-jump {
    padding-top:80px;
}



.davis-slideout, 
.ed-slideout {
    height: 500px;
    width: 400px;
    bottom: -500px;
    right: 0;
    position: fixed;
    background:#111;
    z-index: 10;
    transition: 250ms;
}

.open-ed, 
.open-davis {
    bottom: 0;
}



/* Company Logos */



/* Footer */

.footer-wrap {
    position: relative;
}



.footer-container {
    width: 1080px;
    margin: 0 auto;
    border: 1px solid #dfdfdf;
    border-bottom: none;
    padding: 25px 25px 50px;
}

.footer-container li {
    display: inline-block;
    vertical-align:top;
    width: 30%;
}

.footer-container ul {
    list-style: none;
    padding-left: 0;
}

.footer-col1 p, 
.footer-col2 p, 
.footer-col3 p {
    display: block;
    font-size:14px;
    color: #999;
    font-weight: 300;
    line-height: 28px;
}

.footer-envelope {
    padding-right:10px;
    color:#f0f0f0;
}

.footer-heading {
    color:#555;
    font-size: 12px;
    padding-bottom: 5px;
    font-weight:500;
}

.footer-heading span {
    color:#555;
}

/* Newsletter Form */

.newsletter-container {
    position: relative;
    font-size: 0;
}

.newsletter-heading {
    width:320px;
    font-size: 24px;
    line-height: 18px;
    font-weight:300;
    display:block;
    padding-bottom:5px;
}

.newsletter input {
    width:180px;
    height:40px;
    border: 0px solid #dfdfdf;
    border-radius: 3px 0px 0px 3px;
    outline: 0;
    background:#f8f8f8;
    text-indent: 10px;
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
}

.newsletter button {
    display: inline-block;
    width: 80px;
    height: 40px;
    font-weight: 300;
    border-radius: 0px 3px 3px 0px;

    background: #03A9F4;
    border:none;
    color: #fff;
    font-size: 16px;
    vertical-align: top;
}

/* Services */

.services {
    width: 1080px;
    font-size: 0;
    margin: 0 auto;
    padding: 50px 50px 50px;
    background: #f8f8f8;
    transition:250ms;
    border-left:1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
}

.services ul {
    list-style: none;
    padding-left: 0;
}

.services li {
    display: inline-block;
    width: 280px;
    margin-right: 50px;
    font-size: 16px;
    text-align: left;
    font-weight: 300;
    color: #555;
    line-height: 24px;
}

.services li:last-child {
    margin-right: 0;
}

.services h1 {
    font-size: 24px;
    text-transform: uppercase;
    color: #555;
    line-height: 36px;
}

.services p {
    padding-left: 20px;
}

.fa-arrow-circle-o-right {
    margin-right: 5px;
    color: #555;
    font-size: 16px;
    vertical-align: top;
    padding-top: 10px;
}



/* Override Classes */

.hidden {
    display: none;
}

.contact-container-mobile {
    display:none;
}

.dimension-wrap {
    background: url("../images/3d-wrap.png");
    width: 25px;
    height: 10px;
    background-size: contain;
    position: absolute;
    margin-top: 100px;
    z-index: 50;
    right: 0px;
    display: none;
}

.banner-shift {
    margin-top:50px;
}

.services-shift {
}

/* Mobile Menu */

.mobile-menu {
    display: none;
}

.mobile-toggle {
    display: none;
}


/* MEDIA QUERIES */

@media screen and (min-width : 320px) and (max-width : 500px) {

    .header-container {
        width: 100%;
        padding-left:15px;
    }

    .header-wrap {
        width: 100%;
    }

      .banner {
        width: 80%;
        height: 125px;
        background:#fff;
        margin: 0 auto;
      }

      .banner-logo {
        padding-top: 25px;
        width: 80%;
        padding-left:0;
        margin: 0 auto;
      }

      .banner-heading {
        font-size: 36px;
        line-height:36px;
        color:#555;
        text-shadow: none;
        }

    .banner-animation, 
    .banner-pre-animation {
        font-size: 16px;
        color:#555;
        text-shadow: none;
    }

    .logo {
        width: 60px;
    }

    .contact-container {
        width: 100%;
        padding-top:0;
    }

    .contact {
        width: 100%;
        right: 0;
        margin-bottom:25px;
    }

    .contact-square {
        width: 50%;
    }

    .contact-slideout {
        width: 50%;
        height: 100px;
        right: 0;
    }

    .contact-thumbnail {
        width: 50%;
        background-size: cover;
    }

    .contact-list {
        width: 100%;
    }

    .services {
        width: 100%;
        position:relative;
        margin-top:0px;
        border-top:1px solid #dfdfdf;
    }

    .services li {
        display: block;
        width: 100%;
        margin-bottom: 50px;
    }

    .social-heading {
        display: none;
    }

    .header-social {
        margin-top:0px;
    }

    .footer-container {
        width:100%;
        padding-top:75px !important;
    }

    .footer-wrap {
    }

    .footer-container li {
        display: block;
        width: 100%;
        margin-bottom: 25px;
    }

    .nav-dropdown-container {
        display: none;
    }

    .nav-dropdown-container li {
        display: block;
        height: auto;
    }

    .services-shift, 
    .banner-shift {
        margin-top:0;
        top:0;
    }

    .header-nav {
        display: none;
    }

    .contact-container-desktop {
        display: none;
    }

    .contact-container-mobile {
        display: block;
    }

    .mobile-menu {
        display: block;
        position: fixed;
        top:0;
        left: -100%;
        width: 100%;
        height: 100%;
        font-size: 14px;
        transition: 250ms;
        background: #111;
        z-index: 200;
        padding-top:100px;
        border-top: 5px solid #03A9F4;



        ul {
            list-style: none;
            padding-left: 0;
            border-bottom: 1px solid #222;
            border-top: 1px solid #000;
        }

        li {
            display: block;
            color: #f0f0f0;
            padding: 20px;
            border-bottom: 1px solid #000;
            border-top: 1px solid #222;
        }

        span {
            margin-right:5px;
        }
    }

    .mobile-menu-open {
        left: 0;
    }

    .mobile-toggle {
        width: 50px;
        height: 50px;
        background: rgba(255,255,255,.1);
        border-radius: 4px;
        top: 15px;
        left: 10px;
        position: fixed;
        display: inline-block;
        font-size: 32px;
        color: #ff0000;
        z-index: 250;
        padding-left: 11px;
        padding-top: 3px;
    }

}